@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Outfit:wght@100..900&family=Rubik+Vinyl&display=swap");
@import "tailwindcss";
@import "@heroui/styles";

@plugin "@iconify/tailwind4" {
	prefixes: solar;
	scale: 1.2;
}

body {
	@apply m-0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme {
	--font-outfit: "Outfit", sans-serif;
	--font-rubik-vinyl: "Rubik Vinyl", cursive;
	--font-luckiest-guy: "Luckiest Guy", cursive;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
